In [36]:
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
my_list.sort()
print('List for #1 -->', my_list)
print('Sum of the two lowest numbers = ', my_list[0]+ my_list[1])
print('Sum of the two highest numbers = ', my_list[-1]+my_list[-2])
print('--'*40)
names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven",
         "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]
scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
names_scores = list(zip(names,scores))
print('List for #2', names_scores)
names_scores.sort(key=lambda x: x[1])
print('--'*40)
print('List for #2 after sorting by second element', names_scores)
print('--'*40)
max_score = names_scores[-1]
print('The maximum score is = ', max_score[-1])
print('Number of students who received a 99 =', names_scores.count(max_score))

List for #1 --> [2, 12, 34, 37, 45, 54, 56, 66, 67, 76, 98]
Sum of the two lowest numbers =  14
Sum of the two highest numbers =  174
--------------------------------------------------------------------------------
List for #2 [('David', 99), ('Michael', 87), ('John', 78), ('James', 86), ('Greg', 68), ('Mark', 94), ('William', 76), ('Richard', 97), ('Thomas', 56), ('Steven', 98), ('Mary', 76), ('Susan', 87), ('Maria', 79), ('Karen', 90), ('Lisa', 73), ('Linda', 93), ('Donna', 82), ('Patricia', 69), ('Debra', 97), ('Eric', 98)]
--------------------------------------------------------------------------------
List for #2 after sorting by second element [('Thomas', 56), ('Greg', 68), ('Patricia', 69), ('Lisa', 73), ('William', 76), ('Mary', 76), ('John', 78), ('Maria', 79), ('Donna', 82), ('James', 86), ('Michael', 87), ('Susan', 87), ('Karen', 90), ('Linda', 93), ('Mark', 94), ('Richard', 97), ('Debra', 97), ('Steven', 98), ('Eric', 98), ('David', 99)]
--------------------------------------------------------------------------------
The maximum score is =  99
Number of students who received a 99 = 1

1- Write a code to compute the sum of the two lowest numbers and the two highest numbers in the following list.

my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]

2- The following two lists contain student names and scores. Write a code that gets the name from the user and prints the score of that student.

names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven",

   "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]
scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]

3- By using the two lists above, what is the maximum score and how many students got that score?